@import "tailwindcss";

.cursor {
    display: inline-block;
    width: 2px;
    background-color: currentColor;
    animation: blink 1s infinite;
}

.cursor.deleting {
    background-color: red;
    /* เปลี่ยนสี Cursor เมื่ออยู่ในโหมดลบ */
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}